.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}


.navbar-link {
  margin: 5px;
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-size: large;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 500ms;
}

.navbar-link:hover {
  color: black;
  border-color: black;
}